* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.slide_wrap {
  /* position: flex; */
  /* margin: auto; */
  /* padding-bottom: 30px; */
  overflow: hidden;
}
.slide_box {
  width: 200px;
  /* height: 200px; */
  /* margin: auto; */
  /* overflow-x: hidden; */
  /* padding: 30px; */
}

.slide_list {
  width: 2800px;
  height: 200px;
  overflow: hidden;
  /* padding: 30px; */
}

.slide_content {
  display: flex;
  float: left;
  width: 200px;
  height: 200px;
  flex-grow: 1;
}

.slide01 {
  background: #ddbdff;
}

.slide02 {
  background: #9fd6c2;
}
.slide03 {
  background: #abe2f7;
}
.slide04 {
  background: #f08c78;
}
.slide05 {
  background: #fbdb65;
}
