* {
  font-family: "Montserrat", sans-serif;
}

.slide_wrap {
  position: relative;
  width: 400px;
  margin: auto;
  padding-bottom: 30px;
}
.slide_box {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}
.slide_content {
  display: table;
  float: left;
  width: 400px;
  height: 400px;
}

.slide01 {
  background: #ddbdff;
}

.slide02 {
  background: #9fd6c2;
}
.slide03 {
  background: #abe2f7;
}
.slide04 {
  background: #f08c78;
}
.slide05 {
  background: #fbdb65;
}
