/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* 여기서부터 시작 */

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  border-bottom: 1px solid gray;
  padding: 20px;
}

footer {
  border-top: 1px solid gray;
  padding: 20px;
  text-align: center;
}

.content {
  display: flex;
}

.container nav {
  border-right: 1px solid gray;
}

.container aside {
  border-left: 1px solid gray;
}

nav,
aside {
  flex-basis: 150px;
  flex-shrink: 0;
}

main {
  padding: 30px;
}
